# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
main

# Storage
storage/audio/*
storage/transcript/*
storage/feedback/*
!storage/audio/.gitkeep
!storage/transcript/.gitkeep
!storage/feedback/.gitkeep

# OS
.DS_Store
Thumbs.db
